.container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 100px 0 250px;
}

.column1 {
  float: left;
  width: 25%;
  padding: 20px 10px;
}

.column2 {
  float: left;
  width: 25%;
  padding: 20px 10px;
}

.card1, .card2, .card3, .card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  height: 200px;
  border-radius: 20px;
  text-align: justify;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

.card2 {
  background-color: black;
  color: white;

}

.card4 {
  border-color: blue;
}

.texthighlight {
  background-color: pink;
  padding-left: 10px;
  padding-right: 20px;
}