body{
  background-color: black;
}
.container {
  position: relative;
  overflow: auto hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0%;
  padding: 0%;
}
.container img {
  display: inline-block;

  height: 96%;
}



.choose_light {
  position: absolute;
  background-color: red;
  opacity: 0.5;
  width: 120px;
  height: 220px;
  top: 18px;
  left:125%;
  float: left;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}